*.pdf
*.RData
*.rds
*.h5
*.png

.Rsession
.Rhistory
.Rprofile
.cache
.config
.local
.wget-hsts
.Rsubread*

__experimental*
backup_downloaded_files

.bash
.conda
.pyenv
.bash_history
.python_history
.virtualenvs
*Copy.Rmd
*Copy.R
core

survival.Rmd
mouse_human_targets_relationship.txt
cellinfo.Rmd

Rmd/misc/*.html
